$font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;

* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    user-select: none;
    background-color: #EEE;
    background: linear-gradient(to bottom, rgba(0,37,73,1) 0%,rgba(0,12,33,1) 20%,rgba(0,0,0,1) 100%);
    background-attachment: fixed;
    font-size: 14px;
    color: #FFF;
    font-family: $font-family;
}
h1, h2, h3 {
    font-weight: normal;
}
a, 
.link {
    color: #FFF;
    text-decoration: none;
    &:focus, &:hover {
        color: inherit;
        text-decoration: none;
    }
}
p {
    line-height: 1.6;
    a {
        color: #FFF;
        &:focus, &:hover {
            color: #FFF;
        }
    }
}
div {
    line-height: 1;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=number],
input[type=submit],
input[type=date],
textarea,
select,
option,
button,
label {
    font-weight: normal;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: $font-family;
    border-radius: 0;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=number],
input[type=date] {
    width: 100%;
    border-bottom: 1px solid #999;
    padding: 0;
    background-color: transparent;
    line-height: 44px;
    height: 44px;
    outline: none;
}

textarea {
    width: 100%;
    border: 1px solid #999;
    padding: 8px 10px;
    background-color: #FFF;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    border: 1px solid #999;
    padding: 0 54px 0 10px;
    height: 44px;
    background-color: transparent;
    background-image: url(/images/select_box.svg);
    background-repeat: no-repeat;
    background-size: 44px;
    background-position: right center;
    outline: none;
}

option {
    color: #FFF;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

header {
    height: 48px;
    display: block;
}

.contents {
    position: relative;
    min-height: 100vh;
    max-width: 375px;
    padding: 50px 20px;
}

.position-center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.position-relative {
    position: relative;
}

.mb-xx-small {
    margin-bottom: 5px;
}
.mb-x-small {
    margin-bottom: 10px;
}
.mb-small {
    margin-bottom: 20px;
}
.mb-middle {
    margin-bottom: 30px;
}
.mb-large {
    margin-bottom: 40px;
}
.mb-x-large {
    margin-bottom: 50px;
}
.mb-xx-large {
    margin-bottom: 100px;
}

.small-x-text {
    font-size: 10px;
}
.small-text {
    font-size: 12px;
}
.large-text {
    font-size: 18px;
}
.large-x-text {
    font-size: 24px;
}
.large-xx-text {
    font-size: 50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.control-label {
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    color: #FFF;
}

.text-red {
    color: red;
}

.text-light-gray {
    color: #6D6D6D;
}

.validation {
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(90, 0, 0);
}

.button {
    border-radius: 0;
    padding: 20px 0; 
}

.button-block {
    display: block;
    width: 100%;
    max-width: 375px;
}

.button-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.button-primary {
    background-color: #0074A9;
    color: #FFF;
    &:hover {
        background-color: #0074A9;
    }
}

.button-info {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    &:hover {
        background-color: transparent;
    }
}
.small-button {
    padding: 10px;
}

.error {
    padding: 15px;
    border: 1px solid red;
    background-color: #ffefef;
}