.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
}

.left-icon {
    margin-right: 5px;
}

.prev-circle-white {
    background-image: url(/images/prev_circle_white.svg);
}