<div class="py-4 px-3 error-page">
    <h2 class="text-center mb-3 text-large font-weight-bold">エラー</h2>
    <p class="mb-4 text-md-center">要求されたページでエラーが発生しました。</p>



    <div class="buttons mx-auto text-center mb-3">
        <button name="confirm" type="button" class="btn btn-danger btn-block py-3 mb-3" onclick="displayErrorMessage();">エラー詳細を見る</button>
        <div id="errorMsg" class="hidden">
            <p id="errorMessage" class="error text-danger mb-3 p-3 border border-danger bg-white">
                <%= message %>
            </p>
        </div>
        
        <% if (REDIRECT_URI !== undefined) { %>
            <a class="btn btn-outline-secondary btn-block py-3" href="<%= REDIRECT_URI %>">戻る</a>
        <% } %>
    </div>
    
    <style>
        .hidden {
            display: none;
        }

        .none {
            display: block;
        }
        #errorMessage {
            word-break: break-all;
        }
    </style>
    <script>
        function displayErrorMessage() {
            var messageBox = document.getElementById("errorMsg");
            if (messageBox.className == "hidden") {
                messageBox.className = "none";
            } else {
                messageBox.className = "hidden";
            }
        }
    </script>

</div>

