<div id="div-forms" class="py-4 px-3 forgot-password">
    <h2 class="text-center mb-3 text-large font-weight-bold">パスワードリセット</h2>
    <p class="mb-3 text-md-center">ユーザーネームを入力すると、パスワードをリセットするメッセージが送信されます</p>

    <form name="forgotpasswordform" method="post">
        <% if (messages.errorMessage) { %>
        <p id="errorMessage" class="error text-danger mb-2">
            <%= messages.errorMessage %>
        </p>
        <% } %>

        <div class="mb-4">
            <div class="form-group">
                <div class="row align-items-center">
                    <p class="col-md-4 py-2 text-md-right">ユーザーネーム</p>
                    <div class="col-md-8">
                        <input name="username" id="username" class="form-control" type="text" placeholder="（例）ユーザーネーム"
                            required="" value="">
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons mx-auto text-center">
            <input type="hidden" class="form-control" id="cognito-asf-data" name="cognitoAsfData">
            <button name="reset_my_password" type="submit"
                class="btn btn-primary btn-block py-3 mb-3">パスワードリセット</button>
            <a class="btn btn-outline-secondary btn-block py-3" href="javascript:history.back();">戻る</a>
        </div>


    </form>
</div>