<div id="div-forms" class="contents center forgot-password">
    <div class="inner">
        <p class="mb-middle">
            ユーザーIDを入力すると、パスワードをリセットするメッセージが送信されます
        </p>
        <form name="forgotpasswordform" method="post">
            <% if (messages.errorMessage) { %>
                <p id="errorMessage" class="error text-red mb-small">
                    <%= messages.errorMessage %>
                </p>
                <% } %>

                    <div class="mb-middle">
                        <input name="username" id="username" class="form-control" type="text" placeholder="ユーザーID" required="" value="">
                    </div>
                    <button name="reset_my_password" type="submit" class="button button-primary button-block mb-middle">パスワードリセット</button>

        </form>
        <div class="text-center">
            <a href="javascript:history.back();"><i class="icon left-icon prev-black"></i>戻る</a>
        </div>
    </div>
</div>
</div>