<div id="div-forms" class="modal-body">
    <div>
        <div>
            <h1>Forgot your password?</h1>
            <span>Enter your Username below and we will send a message to reset your password</span>
            <form name="forgotpasswordform" method="post">
                <% if (messages.errorMessage) { %>
                    <p id="errorMessage" class="errorMessage-customizable">
                        <%= messages.errorMessage %>
                    </p>
                    <% } %>

                        <br>
                        <input name="username" id="username" class="form-control inputField-customizable" type="text" placeholder="Username" required=""
                            value="">
                        <button name="reset_my_password" type="submit" class="btn btn-primary submitButton-customizable">Reset my password</button>
            </form>

        </div>
    </div>
</div>