<div id="div-forms" class="contents center login">
    <div class="inner">
        <p class="mb-middle">
            ログインIDとパスワードを入力してログインボタンを押してください
        </p>
        <form method="POST" name="cognitoSignInForm" class="cognito-asf">
            <% if (messages.errorMessage) { %>
                <p id="loginErrorMessage" class="error text-red mb-small">
                    <%= messages.errorMessage %>
                </p>
                <% } %>

                    <div class="mb-small">
                        <input id="username" name="username" type="text" class="form-control" placeholder="ログインID" required="">
                    </div>

                    <div class="mb-middle">
                        <input id="password" name="password" type="password" class="form-control" placeholder="パスワード" required="">
                    </div>
                    <input type="hidden" class="form-control" id="cognito-asf-data" name="cognitoAsfData">
                    <button name="signInSubmitButton" type="Submit" class="button button-primary button-block mb-middle">ログイン</button>

        </form>
        <div class="text-center mb-small">
            <a href="<%= forgotPasswordUrl %>">ワスワードを忘れた方はこちら</a>
        </div>
        <div class="text-center">
            <a href="javascript:history.back();">戻る</a>
        </div>
        <div class="text-center">
            <a href="<%= signupUrl %>">Sign up</a>
        </div>
    </div>
</div>