<div id="div-forms" class="py-4 px-3 login">
    <h2 class="text-center mb-3 text-large font-weight-bold">ログイン</h2>
    <p class="mb-3 text-md-center">ユーザーネームとパスワードを入力してログインボタンを押してください</p>
    <form method="POST" name="cognitoSignInForm" class="cognito-asf">
        <% if (messages.errorMessage) { %>
        <p id="loginErrorMessage" class="error text-danger mb-2">
            <%= messages.errorMessage %>
        </p>
        <% } %>

        <div class="mb-4">
            <div class="form-group">
                <div class="row align-items-center">
                    <p class="col-md-4 py-2 text-md-right">ユーザーネーム</p>
                    <div class="col-md-8">
                        <input id="username" name="username" type="text" class="form-control mb-2"
                            placeholder="（例）ユーザーネーム" required="" value="<%= userName %>">
                        <p><a href="#" data-toggle="modal" data-target="#usernameModal"><i
                                    class="icon icon-small left-icon arrow-white"></i>ユーザーネームを忘れた方</a></p>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row align-items-center">
                    <p class="col-md-4 py-2 text-md-right">パスワード</p>
                    <div class="col-md-8">
                        <p class="text-small mb-2 text-dark-gray">小文字、大文字、数字、特殊文字（!、#、$、%、^、&、*、_）を含む8文字以上で入力してください</p>
                        <input id="password" name="password" type="password" class="form-control mb-2"
                            placeholder="パスワード" required="">
                        <p><a href="<%= forgotPasswordUrl %>"><i
                                    class="icon icon-small left-icon arrow-white"></i>パスワードを忘れた方はこちら</a></p>
                    </div>
                </div>
            </div>

        </div>

        <div class="buttons mx-auto text-center">
            <input type="hidden" class="form-control" id="cognito-asf-data" name="cognitoAsfData">
            <button name="signInSubmitButton" type="submit" class="btn btn-primary btn-block py-3 mb-3">ログイン</button>
            <a type="button" class="btn btn-outline-secondary btn-block py-3" href="javascript:history.back();">戻る</a>
        </div>
    </form>
</div>


<div id="usernameModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-black">
            <div class="scroll-vertical">
                <div class="p-3">
                    <div class="mb-4">
                        <p class="text-center large-text mb-2">ユーザーネームをお忘れの方</p>
                        <p class="mb-2">
                            ユーザーネームをお忘れのお客様は、ご登録時に送られてきたワンタイムパスワードの一行目にユーザーネームが記載されております。<br>
                            または、ログインした状態でチケットを購入された際の購入完了メールの［ユーザーID］部分にユーザーネームが記載されておりますので受信フォルダなどを検索していただきご確認ください。
                        </p>
                        <p class="mb-2">
                            メール件名：<br>
                            <span class="font-weight-bold select-text">【シネマサンシャイン公式アプリ】ワンタイムパスワード発行</span>
                        </p>
                        <p class="mb-2">
                            送信元メールアドレス：<br>
                            <span class="font-weight-bold select-text">rewards@ticket-cinemasunshine.com</span>
                        </p>
                        <div class="mb-2">
                            <img class="w-100" src="/images/login/rewards.svg">
                        </div>
                        <p class="mb-2">
                            メール件名：<br>
                            <span class="font-weight-bold select-text">&lt;&lt;劇場名&gt;&gt;ご注文商品のお届け完了</span>
                        </p>
                        <p class="mb-2">
                            送信元メールアドレス：<br>
                            <span class="font-weight-bold select-text">noreplay@ticket-cinemasunshine.com</span>
                        </p>
                        <div class="mb-2">
                            <img class="w-100" src="/images/login/purchase-completed.svg">
                        </div>
                        <p>
                            メールが見つからずユーザーネームが不明な場合は下記のお問い合わせ先までご連絡ください。<br>
                            <br>
                            ［お問い合わせ先］<br>
                            <span class="font-weight-bold select-text">cin-sun_mail@cinemasunshine.co.jp</span>
                        </p>
                    </div>
                    <button type="button" class="btn btn-outline-secondary btn-block py-3"
                        data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>