<div id="div-forms" class="contents center signup">
    <div class="inner">
        <div class="text-center mb-small large-text">基本情報入力</div>
        <p class="mb-middle">
            必須項目を入力し「次へ」ボタンを押してください
        </p>
        <form name="signupform" method="post" class="cognito-asf">
            <% if (messages.validationErrorMessage) { %>
            <p id="validationErrorMessage" class="error text-red mb-small">
                <%- messages.validationErrorMessage %>
            </p>
            <% } %>
            <% if (messages.errorMessage) { %>
            <p id="errorMessage" class="error text-red mb-small">
                <%= messages.errorMessage %>
            </p>
            <% } %>

            <dl class="mb-middle">
                <dt>
                    <strong>ログインID</strong>
                    <span class="text-red small-text">必須</span>
                </dt>
                <dd>
                    <input id="username-input-mobile" onkeyup="checkPasswordMatch('mobile');" type="text" autocapitalize="none" class="form-control"
                        placeholder="ログインID" required="" name="username" value="">
                </dd>
            </dl>

            <dl class="mb-middle">
                <dt class="mb-small">
                    <strong>お名前（カタカナ）</strong>
                    <span class="text-red small-text">必須</span>
                </dt>
                <dd class="mb-small">
                    <div class="text-light-gray">セイ</div>
                    <input type="text" class="form-control" required="" id="requiredAttributesfamily_name" name="family_name" value="" placeholder="全角カタカナで入力してください">
                </dd>
                <dd>
                    <div class="text-light-gray">メイ</div>
                    <input type="text" class="form-control" required="" id="requiredAttributesgiven_name" name="given_name" value="" placeholder="全角カタカナで入力してください">
                </dd>
            </dl>

            <dl class="mb-middle">
                <dt>
                    <strong>メールアドレス</strong>
                    <span class="text-red small-text">必須</span>
                </dt>
                <dd>
                    <div class="mb-x-small">
                        <input type="email" class="form-control" placeholder="メールアドレスを入力してください" required="" id="requiredAttributesemail" name="email"
                            value="">
                    </div>
                    <p class="small-text">
                        <strong>【ドメイン指定受信をご利用の場合について】</strong>
                        <br>※ 携帯電話のドメイン指定受信をされている場合、「@ticket-cinemasunshine.com」を追加設定してください。
                        <br>※ au(@ezweb.ne.jp)をご利用の場合、上記に加え「なりすまし規制回避リスト」にも「@ticket-cinemasunshine.com」の追加設定をしてください。
                    </p>
                </dd>
            </dl>
            <dl class="mb-middle">
                <dt>
                    <strong>電話番号</strong>
                    <span class="text-red small-text">必須</span>
                </dt>
                <dd>
                    <div class="mb-x-small">
                        <input type="tel" class="form-control" placeholder="電話番号を入力してください" required="" id="requiredAttributesphone_number" name="phone_number"
                            value="">
                    </div>
                    <p class="small-text">※半角数字、ハイフン「-」なしで入力してください</p>
                </dd>
            </dl>
            <!-- <dl class="mb-middle">
                <dt>生年月日
                    <span class="text-red small-text">必須</span>
                </dt>
                <dd>
                    
                </dd>
            </dl>
            <dl class="mb-middle">
                <dt>性別
                    <span class="text-red small-text">必須</span>
                </dt>
                <dd>
                    
                </dd>
            </dl> -->
            <dl class="mb-middle">
                <dt>
                    <strong>郵便番号</strong>
                    <span class="text-red small-text">必須</span>
                </dt>
                <dd>
                    <input type="text" class="form-control" placeholder="郵便番号を入力してください" required="" id="requiredAttributesPostalCode" name="postalCode"
                        value="">
                </dd>
            </dl>
            <dl class="mb-middle">
                <dt>
                    <strong>パスワード</strong>
                    <span class="text-red small-text">必須</span>
                </dt>
                <dd>
                    <div class="mb-x-small">
                        <input id="password-mobile" onkeyup="checkPasswordMatch('mobile');" type="password" class="form-control" placeholder="パスワードを入力してください"
                            required="" name="password" value="">
                    </div>
                    <div id="checkPassword-lowerletter-mobile" class="mb-x-small small-text">
                        <span aria-hidden="true" id="check-lowerletter-mobile"></span>
                        <span id="checkPasswordText-lowerletter-mobile"></span>
                    </div>

                    <div id="checkPassword-length-mobile" class="small-text">
                        <span aria-hidden="true" id="check-length-mobile"></span>
                        <span id="checkPasswordText-length-mobile"></span>
                    </div>
                </dd>
            </dl>

            <button id="signupButton-mobile" type="submit" name="signUpButton" class="button button-primary button-block mb-middle">次へ</button>
        </form>
        <div class="text-center">
            <a href="javascript:history.back();">戻る</a>
        </div>
    </div>
</div>


<script>

    function checkPasswordMatch(screenSize) {
        var passwordPolicy = [];
        passwordPolicy.lowercase = "パスワードには小文字を含める必要があります";
        passwordPolicy.uppercase = "パスワードは大文字でなければなりません";
        passwordPolicy.number = "パスワードには数字が必要です";
        passwordPolicy.special = "パスワードには特殊文字を含める必要があります";
        var passwordLength = 8;
        passwordPolicy.lengthCheck = "パスワードは" + passwordLength + "文字以上でなければなりません";

        var password = $("#password-" + screenSize).val();
        var username_input = $("#username-input-" + screenSize).val() != "";

        var requireLowerletter = false;
        var requireUpperletter = false;
        var requireNumber = false;
        var requireSymbol = false;
        var requireLength = false;

        if (password) {

            if (true) {
                if (/[a-z]/.test(password)) {
                    $("#check-lowerletter-" + screenSize).html("&#10003;");
                    $("#checkPasswordText-lowerletter-" + screenSize).html(passwordPolicy.lowercase);
                    $("#checkPassword-lowerletter-" + screenSize).addClass("passwordCheck-valid-customizable").removeClass(
                        "passwordCheck-notValid-customizable");
                    requireLowerletter = true;
                } else {
                    $("#check-lowerletter-" + screenSize).html("&#10006;");
                    $("#checkPasswordText-lowerletter-" + screenSize).html(passwordPolicy.lowercase);
                    $("#checkPassword-lowerletter-" + screenSize).addClass("passwordCheck-notValid-customizable").removeClass(
                        "passwordCheck-valid-customizable");
                    requireLowerletter = false;
                }
            } else {
                requireLowerletter = true;
            }
            if (false) {
                if (/[A-Z]/.test(password)) {
                    $("#check-upperletter-" + screenSize).html("&#10003;");
                    $("#checkPasswordText-upperletter-" + screenSize).html(passwordPolicy.uppercase);
                    $("#checkPassword-upperletter-" + screenSize).addClass("passwordCheck-valid-customizable").removeClass(
                        "passwordCheck-notValid-customizable");
                    requireUpperletter = true;
                } else {
                    $("#check-upperletter-" + screenSize).html("&#10006;");
                    $("#checkPasswordText-upperletter-" + screenSize).html(passwordPolicy.uppercase);
                    $("#checkPassword-upperletter-" + screenSize).addClass("passwordCheck-notValid-customizable").removeClass(
                        "passwordCheck-valid-customizable");
                    requireUpperletter = false;
                }
            } else {
                requireUpperletter = true;
            }
            if (false) {
                if (/[!|@|#|$|%|^|&|*|(|)|-|_]/.test(password)) {
                    $("#check-symbols-" + screenSize).html("&#10003;");
                    $("#checkPasswordText-symbols-" + screenSize).html(passwordPolicy.special);
                    $("#checkPassword-symbols-" + screenSize).addClass("passwordCheck-valid-customizable").removeClass(
                        "passwordCheck-notValid-customizable");
                    requireSymbol = true;
                } else {
                    $("#check-symbols-" + screenSize).html("&#10006;");
                    $("#checkPasswordText-symbols-" + screenSize).html(passwordPolicy.special);
                    $("#checkPassword-symbols-" + screenSize).addClass("passwordCheck-notValid-customizable").removeClass(
                        "passwordCheck-valid-customizable");
                    requireSymbol = false;
                }
            } else {
                requireSymbol = true;
            }
            if (false) {
                if (/[0-9]/.test(password)) {
                    $("#check-numbers-" + screenSize).html("&#10003;");
                    $("#checkPasswordText-numbers-" + screenSize).html(passwordPolicy.number);
                    $("#checkPassword-numbers-" + screenSize).addClass("passwordCheck-valid-customizable").removeClass(
                        "passwordCheck-notValid-customizable")
                    requireNumber = true;
                } else {
                    $("#check-numbers-" + screenSize).html("&#10006;");
                    $("#checkPasswordText-numbers-" + screenSize).html(passwordPolicy.number);
                    $("#checkPassword-numbers-" + screenSize).addClass("passwordCheck-notValid-customizable").removeClass(
                        "passwordCheck-valid-customizable");
                    requireNumber = false;
                }
            } else {
                requireNumber = true;
            }

            if (password.length < passwordLength) {
                $("#check-length-" + screenSize).html("&#10006;");
                $("#checkPasswordText-length-" + screenSize).html(passwordPolicy.lengthCheck);
                $("#checkPassword-length-" + screenSize).addClass("passwordCheck-notValid-customizable").removeClass(
                    "passwordCheck-valid-customizable");
                requireLength = false;
            } else {
                $("#check-length-" + screenSize).html("&#10003;");
                $("#checkPasswordText-length-" + screenSize).html(passwordPolicy.lengthCheck);
                $("#checkPassword-length-" + screenSize).addClass("passwordCheck-valid-customizable").removeClass(
                    "passwordCheck-notValid-customizable");
                requireLength = true;
            }
        }
        if (requireLowerletter && requireUpperletter && requireNumber && requireSymbol && requireLength && username_input) {
            document.getElementById("signupButton-" + screenSize).disabled = false;
        } else {
            document.getElementById("signupButton-" + screenSize).disabled = true;
        }
    }

</script>