@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

ol, ul, li {
  list-style: none; }

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #EEE;
  background: linear-gradient(to bottom, #002549 0%, #000c21 20%, black 100%);
  background-attachment: fixed;
  font-size: 14px;
  color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", meiryo, sans-serif; }

h1, h2, h3 {
  font-weight: normal; }

a,
.link {
  color: #FFF;
  text-decoration: none; }
  a:focus, a:hover,
  .link:focus,
  .link:hover {
    color: inherit;
    text-decoration: none; }

p {
  line-height: 1.6; }
  p a {
    color: #FFF; }
    p a:focus, p a:hover {
      color: #FFF; }

div {
  line-height: 1; }

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=number],
input[type=submit],
input[type=date],
textarea,
select,
option,
button,
label {
  font-weight: normal;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", meiryo, sans-serif;
  border-radius: 0; }

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=number],
input[type=date] {
  width: 100%;
  border-bottom: 1px solid #999;
  padding: 0;
  background-color: transparent;
  line-height: 44px;
  height: 44px;
  outline: none; }

textarea {
  width: 100%;
  border: 1px solid #999;
  padding: 8px 10px;
  background-color: #FFF; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  border: 1px solid #999;
  padding: 0 54px 0 10px;
  height: 44px;
  background-color: transparent;
  background-image: url(/images/select_box.svg);
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: right center;
  outline: none; }

option {
  color: #FFF; }

.wrapper {
  position: relative;
  min-height: 100vh; }

header {
  height: 48px;
  display: block; }

.contents {
  position: relative;
  min-height: 100vh;
  max-width: 375px;
  padding: 50px 20px; }

.position-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.mb-xx-small {
  margin-bottom: 5px; }

.mb-x-small {
  margin-bottom: 10px; }

.mb-small {
  margin-bottom: 20px; }

.mb-middle {
  margin-bottom: 30px; }

.mb-large {
  margin-bottom: 40px; }

.mb-x-large {
  margin-bottom: 50px; }

.mb-xx-large {
  margin-bottom: 100px; }

.small-x-text {
  font-size: 10px; }

.small-text {
  font-size: 12px; }

.large-text {
  font-size: 18px; }

.large-x-text {
  font-size: 24px; }

.large-xx-text {
  font-size: 50px; }

.center {
  margin-left: auto;
  margin-right: auto; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.control-label {
  display: block; }

.form-control {
  display: block;
  width: 100%;
  color: #FFF; }

.text-red {
  color: red; }

.text-light-gray {
  color: #6D6D6D; }

.validation {
  margin-top: 10px;
  padding: 5px;
  background-color: #5a0000; }

.button {
  border-radius: 0;
  padding: 20px 0; }

.button-block {
  display: block;
  width: 100%;
  max-width: 375px; }

.button-bottom {
  position: absolute;
  left: 0;
  bottom: 0; }

.button-primary {
  background-color: #0074A9;
  color: #FFF; }
  .button-primary:hover {
    background-color: #0074A9; }

.button-info {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF; }
  .button-info:hover {
    background-color: transparent; }

.small-button {
  padding: 10px; }

.error {
  padding: 15px;
  border: 1px solid red;
  background-color: #ffefef; }

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  vertical-align: middle; }

.left-icon {
  margin-right: 10px; }

.prev-black {
  background-image: url(/images/prev_black.svg); }

.signup input[type=radio] {
  display: none; }

.signup select {
  width: auto; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxpQkFBaUI7QUFDakI7Ozs7Ozs7Ozs7OztFQVlFLFVBQVU7RUFDVixXQUFXO0VBQ1gsVUFBVTtFQUNWLFdBQVc7RUFDWCxnQkFBZ0I7RUFDaEIseUJBQXlCLEVBQUU7O0FBRTdCO0VBQ0UsZUFBZSxFQUFFOztBQUVuQjs7RUFFRSxlQUFlLEVBQUU7O0FBRW5CO0VBQ0UsVUFBVTtFQUNWLFdBQVc7RUFDWCxnQkFBZ0I7RUFDaEIseUJBQXlCO0VBQ3pCLHdCQUF3QixFQUFFOztBQUU1QjtFQUNFLDBCQUEwQjtFQUMxQixrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSxlQUFlO0VBQ2YsWUFBWTtFQUNaLFVBQVU7RUFDViw4QkFBOEI7RUFDOUIsY0FBYztFQUNkLFdBQVcsRUFBRTs7QUFFZjtFQUNFLHVCQUF1QixFQUFFOztBQUUzQjtFQUNFLGlCQUFpQixFQUFFOztBQUVyQjtFQUNFLG9CQUFvQjtFQUNwQixhQUFhO0VBQ2IsZUFBZSxFQUFFOztBQUVuQjtFQUNFLHVCQUF1QixFQUFFOztBQUUzQjtFQUNFLGFBQWEsRUFBRTs7QUFFakI7RUFDRSwrQkFBK0I7RUFDL0IsNEJBQTRCO0VBQzVCLDBCQUFrQjtLQUFsQix1QkFBa0I7TUFBbEIsc0JBQWtCO1VBQWxCLGtCQUFrQjtFQUNsQix1QkFBdUI7RUFDdkIsNEVBQTRFO0VBQzVFLDZCQUE2QjtFQUM3QixnQkFBZ0I7RUFDaEIsWUFBWTtFQUNaLGtJQUFrSSxFQUFFOztBQUV0STtFQUNFLG9CQUFvQixFQUFFOztBQUV4Qjs7RUFFRSxZQUFZO0VBQ1osc0JBQXNCLEVBQUU7RUFDeEI7OztJQUdFLGVBQWU7SUFDZixzQkFBc0IsRUFBRTs7QUFFNUI7RUFDRSxpQkFBaUIsRUFBRTtFQUNuQjtJQUNFLFlBQVksRUFBRTtJQUNkO01BQ0UsWUFBWSxFQUFFOztBQUVwQjtFQUNFLGVBQWUsRUFBRTs7QUFFbkI7Ozs7Ozs7Ozs7Ozs7RUFhRSxvQkFBb0I7RUFDcEIsYUFBYTtFQUNiLGlCQUFpQjtFQUNqQixXQUFXO0VBQ1gsVUFBVTtFQUNWLGdCQUFnQjtFQUNoQixrSUFBa0k7RUFDbEksaUJBQWlCLEVBQUU7O0FBRXJCOzs7Ozs7O0VBT0UsWUFBWTtFQUNaLDhCQUE4QjtFQUM5QixXQUFXO0VBQ1gsOEJBQThCO0VBQzlCLGtCQUFrQjtFQUNsQixhQUFhO0VBQ2IsY0FBYyxFQUFFOztBQUVsQjtFQUNFLFlBQVk7RUFDWix1QkFBdUI7RUFDdkIsa0JBQWtCO0VBQ2xCLHVCQUF1QixFQUFFOztBQUUzQjtFQUNFLHNCQUFzQjtFQUN0Qix5QkFBeUI7RUFDekIsaUJBQWlCO0VBQ2pCLHVCQUF1QjtFQUN2Qix1QkFBdUI7RUFDdkIsYUFBYTtFQUNiLDhCQUE4QjtFQUM5Qiw4Q0FBOEM7RUFDOUMsNkJBQTZCO0VBQzdCLHNCQUFzQjtFQUN0QixrQ0FBa0M7RUFDbEMsY0FBYyxFQUFFOztBQUVsQjtFQUNFLFlBQVksRUFBRTs7QUFFaEI7RUFDRSxtQkFBbUI7RUFDbkIsa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0UsYUFBYTtFQUNiLGVBQWUsRUFBRTs7QUFFbkI7RUFDRSxtQkFBbUI7RUFDbkIsa0JBQWtCO0VBQ2xCLGlCQUFpQjtFQUNqQixtQkFBbUIsRUFBRTs7QUFFdkI7RUFDRSxZQUFZO0VBQ1osbUJBQW1CO0VBQ25CLFNBQVM7RUFDVCxVQUFVO0VBQ1YseUNBQWlDO1VBQWpDLGlDQUFpQyxFQUFFOztBQUVyQztFQUNFLG1CQUFtQixFQUFFOztBQUV2QjtFQUNFLG9CQUFvQixFQUFFOztBQUV4QjtFQUNFLG9CQUFvQixFQUFFOztBQUV4QjtFQUNFLG9CQUFvQixFQUFFOztBQUV4QjtFQUNFLG9CQUFvQixFQUFFOztBQUV4QjtFQUNFLG9CQUFvQixFQUFFOztBQUV4QjtFQUNFLHFCQUFxQixFQUFFOztBQUV6QjtFQUNFLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGtCQUFrQjtFQUNsQixtQkFBbUIsRUFBRTs7QUFFdkI7RUFDRSxrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSxtQkFBbUIsRUFBRTs7QUFFdkI7RUFDRSxlQUFlLEVBQUU7O0FBRW5CO0VBQ0UsZUFBZTtFQUNmLFlBQVk7RUFDWixZQUFZLEVBQUU7O0FBRWhCO0VBQ0UsV0FBVyxFQUFFOztBQUVmO0VBQ0UsZUFBZSxFQUFFOztBQUVuQjtFQUNFLGlCQUFpQjtFQUNqQixhQUFhO0VBQ2IsMEJBQTBCLEVBQUU7O0FBRTlCO0VBQ0UsaUJBQWlCO0VBQ2pCLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGVBQWU7RUFDZixZQUFZO0VBQ1osaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0UsbUJBQW1CO0VBQ25CLFFBQVE7RUFDUixVQUFVLEVBQUU7O0FBRWQ7RUFDRSwwQkFBMEI7RUFDMUIsWUFBWSxFQUFFO0VBQ2Q7SUFDRSwwQkFBMEIsRUFBRTs7QUFFaEM7RUFDRSw4QkFBOEI7RUFDOUIsWUFBWTtFQUNaLHVCQUF1QixFQUFFO0VBQ3pCO0lBQ0UsOEJBQThCLEVBQUU7O0FBRXBDO0VBQ0UsY0FBYyxFQUFFOztBQUVsQjtFQUNFLGNBQWM7RUFDZCxzQkFBc0I7RUFDdEIsMEJBQTBCLEVBQUU7O0FBRTlCO0VBQ0Usc0JBQXNCO0VBQ3RCLFlBQVk7RUFDWixhQUFhO0VBQ2IsNkJBQTZCO0VBQzdCLHVCQUF1QjtFQUN2Qiw0QkFBNEI7RUFDNUIsdUJBQXVCLEVBQUU7O0FBRTNCO0VBQ0UsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsOENBQThDLEVBQUU7O0FBRWxEO0VBQ0UsY0FBYyxFQUFFOztBQUVsQjtFQUNFLFlBQVksRUFBRSIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAY2hhcnNldCBcIlVURi04XCI7XG5odG1sLCBib2R5LCBkaXYsIHNwYW4sIG9iamVjdCwgaWZyYW1lLFxuaDEsIGgyLCBoMywgaDQsIGg1LCBoNiwgcCwgYmxvY2txdW90ZSwgcHJlLFxuYWJiciwgYWRkcmVzcywgY2l0ZSwgY29kZSxcbmRlbCwgZGZuLCBlbSwgaW1nLCBpbnMsIGtiZCwgcSwgc2FtcCxcbnNtYWxsLCBzdHJvbmcsIHN1Yiwgc3VwLCB2YXIsXG5iLCBpLFxuZGwsIGR0LCBkZCwgb2wsIHVsLCBsaSxcbmZpZWxkc2V0LCBmb3JtLCBsYWJlbCwgbGVnZW5kLFxudGFibGUsIGNhcHRpb24sIHRib2R5LCB0Zm9vdCwgdGhlYWQsIHRyLCB0aCwgdGQsXG5hcnRpY2xlLCBhc2lkZSwgY2FudmFzLCBkZXRhaWxzLCBmaWdjYXB0aW9uLCBmaWd1cmUsXG5mb290ZXIsIGhlYWRlciwgaGdyb3VwLCBtZW51LCBuYXYsIHNlY3Rpb24sIHN1bW1hcnksXG50aW1lLCBtYXJrLCBhdWRpbywgdmlkZW8ge1xuICBtYXJnaW46IDA7XG4gIHBhZGRpbmc6IDA7XG4gIGJvcmRlcjogMDtcbiAgb3V0bGluZTogMDtcbiAgZm9udC1zaXplOiAxMDAlO1xuICB2ZXJ0aWNhbC1hbGlnbjogYmFzZWxpbmU7IH1cblxuYm9keSB7XG4gIGxpbmUtaGVpZ2h0OiAxOyB9XG5cbmFydGljbGUsIGFzaWRlLCBkZXRhaWxzLCBmaWdjYXB0aW9uLCBmaWd1cmUsXG5mb290ZXIsIGhlYWRlciwgaGdyb3VwLCBtZW51LCBuYXYsIHNlY3Rpb24ge1xuICBkaXNwbGF5OiBibG9jazsgfVxuXG5hIHtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xuICBmb250LXNpemU6IDEwMCU7XG4gIHZlcnRpY2FsLWFsaWduOiBiYXNlbGluZTtcbiAgYmFja2dyb3VuZDogdHJhbnNwYXJlbnQ7IH1cblxudGFibGUge1xuICBib3JkZXItY29sbGFwc2U6IGNvbGxhcHNlO1xuICBib3JkZXItc3BhY2luZzogMDsgfVxuXG5ociB7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICBoZWlnaHQ6IDFweDtcbiAgYm9yZGVyOiAwO1xuICBib3JkZXItdG9wOiAxcHggc29saWQgI2NjY2NjYztcbiAgbWFyZ2luOiAxZW0gMDtcbiAgcGFkZGluZzogMDsgfVxuXG5pbnB1dCwgc2VsZWN0IHtcbiAgdmVydGljYWwtYWxpZ246IG1pZGRsZTsgfVxuXG5vbCwgdWwsIGxpIHtcbiAgbGlzdC1zdHlsZTogbm9uZTsgfVxuXG5pbWcge1xuICB2ZXJ0aWNhbC1hbGlnbjogdG9wO1xuICBmb250LXNpemU6IDA7XG4gIGxpbmUtaGVpZ2h0OiAwOyB9XG5cbioge1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94OyB9XG5cbmh0bWwsIGJvZHkge1xuICBoZWlnaHQ6IDEwMCU7IH1cblxuYm9keSB7XG4gIC13ZWJraXQtdGV4dC1zaXplLWFkanVzdDogMTAwJTtcbiAgLXdlYmtpdC10b3VjaC1jYWxsb3V0OiBub25lO1xuICB1c2VyLXNlbGVjdDogbm9uZTtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0VFRTtcbiAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRpZW50KHRvIGJvdHRvbSwgIzAwMjU0OSAwJSwgIzAwMGMyMSAyMCUsIGJsYWNrIDEwMCUpO1xuICBiYWNrZ3JvdW5kLWF0dGFjaG1lbnQ6IGZpeGVkO1xuICBmb250LXNpemU6IDE0cHg7XG4gIGNvbG9yOiAjRkZGO1xuICBmb250LWZhbWlseTogLWFwcGxlLXN5c3RlbSwgQmxpbmtNYWNTeXN0ZW1Gb250LCBcIkhpcmFnaW5vIFNhbnNcIiwgXCJIaXJhZ2lubyBLYWt1IEdvdGhpYyBQcm9OXCIsIFwi5ri444K044K344OD44KvICBNZWRpdW1cIiwgbWVpcnlvLCBzYW5zLXNlcmlmOyB9XG5cbmgxLCBoMiwgaDMge1xuICBmb250LXdlaWdodDogbm9ybWFsOyB9XG5cbmEsXG4ubGluayB7XG4gIGNvbG9yOiAjRkZGO1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7IH1cbiAgYTpmb2N1cywgYTpob3ZlcixcbiAgLmxpbms6Zm9jdXMsXG4gIC5saW5rOmhvdmVyIHtcbiAgICBjb2xvcjogaW5oZXJpdDtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7IH1cblxucCB7XG4gIGxpbmUtaGVpZ2h0OiAxLjY7IH1cbiAgcCBhIHtcbiAgICBjb2xvcjogI0ZGRjsgfVxuICAgIHAgYTpmb2N1cywgcCBhOmhvdmVyIHtcbiAgICAgIGNvbG9yOiAjRkZGOyB9XG5cbmRpdiB7XG4gIGxpbmUtaGVpZ2h0OiAxOyB9XG5cbmlucHV0W3R5cGU9dGV4dF0sXG5pbnB1dFt0eXBlPW51bWJlcl0sXG5pbnB1dFt0eXBlPXBhc3N3b3JkXSxcbmlucHV0W3R5cGU9dGVsXSxcbmlucHV0W3R5cGU9ZW1haWxdLFxuaW5wdXRbdHlwZT1udW1iZXJdLFxuaW5wdXRbdHlwZT1zdWJtaXRdLFxuaW5wdXRbdHlwZT1kYXRlXSxcbnRleHRhcmVhLFxuc2VsZWN0LFxub3B0aW9uLFxuYnV0dG9uLFxubGFiZWwge1xuICBmb250LXdlaWdodDogbm9ybWFsO1xuICBib3JkZXI6IG5vbmU7XG4gIGJhY2tncm91bmQ6IG5vbmU7XG4gIHBhZGRpbmc6IDA7XG4gIG1hcmdpbjogMDtcbiAgZm9udC1zaXplOiAxNHB4O1xuICBmb250LWZhbWlseTogLWFwcGxlLXN5c3RlbSwgQmxpbmtNYWNTeXN0ZW1Gb250LCBcIkhpcmFnaW5vIFNhbnNcIiwgXCJIaXJhZ2lubyBLYWt1IEdvdGhpYyBQcm9OXCIsIFwi5ri444K044K344OD44KvICBNZWRpdW1cIiwgbWVpcnlvLCBzYW5zLXNlcmlmO1xuICBib3JkZXItcmFkaXVzOiAwOyB9XG5cbmlucHV0W3R5cGU9dGV4dF0sXG5pbnB1dFt0eXBlPW51bWJlcl0sXG5pbnB1dFt0eXBlPXBhc3N3b3JkXSxcbmlucHV0W3R5cGU9dGVsXSxcbmlucHV0W3R5cGU9ZW1haWxdLFxuaW5wdXRbdHlwZT1udW1iZXJdLFxuaW5wdXRbdHlwZT1kYXRlXSB7XG4gIHdpZHRoOiAxMDAlO1xuICBib3JkZXItYm90dG9tOiAxcHggc29saWQgIzk5OTtcbiAgcGFkZGluZzogMDtcbiAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gIGxpbmUtaGVpZ2h0OiA0NHB4O1xuICBoZWlnaHQ6IDQ0cHg7XG4gIG91dGxpbmU6IG5vbmU7IH1cblxudGV4dGFyZWEge1xuICB3aWR0aDogMTAwJTtcbiAgYm9yZGVyOiAxcHggc29saWQgIzk5OTtcbiAgcGFkZGluZzogOHB4IDEwcHg7XG4gIGJhY2tncm91bmQtY29sb3I6ICNGRkY7IH1cblxuc2VsZWN0IHtcbiAgLW1vei1hcHBlYXJhbmNlOiBub25lO1xuICAtd2Via2l0LWFwcGVhcmFuY2U6IG5vbmU7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIGJvcmRlcjogMXB4IHNvbGlkICM5OTk7XG4gIHBhZGRpbmc6IDAgNTRweCAwIDEwcHg7XG4gIGhlaWdodDogNDRweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybCgvaW1hZ2VzL3NlbGVjdF9ib3guc3ZnKTtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgYmFja2dyb3VuZC1zaXplOiA0NHB4O1xuICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiByaWdodCBjZW50ZXI7XG4gIG91dGxpbmU6IG5vbmU7IH1cblxub3B0aW9uIHtcbiAgY29sb3I6ICNGRkY7IH1cblxuLndyYXBwZXIge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIG1pbi1oZWlnaHQ6IDEwMHZoOyB9XG5cbmhlYWRlciB7XG4gIGhlaWdodDogNDhweDtcbiAgZGlzcGxheTogYmxvY2s7IH1cblxuLmNvbnRlbnRzIHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICBtaW4taGVpZ2h0OiAxMDB2aDtcbiAgbWF4LXdpZHRoOiAzNzVweDtcbiAgcGFkZGluZzogNTBweCAyMHB4OyB9XG5cbi5wb3NpdGlvbi1jZW50ZXIge1xuICB3aWR0aDogMTAwJTtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB0b3A6IDUwJTtcbiAgbGVmdDogNTAlO1xuICB0cmFuc2Zvcm06IHRyYW5zbGF0ZSgtNTAlLCAtNTAlKTsgfVxuXG4ubWIteHgtc21hbGwge1xuICBtYXJnaW4tYm90dG9tOiA1cHg7IH1cblxuLm1iLXgtc21hbGwge1xuICBtYXJnaW4tYm90dG9tOiAxMHB4OyB9XG5cbi5tYi1zbWFsbCB7XG4gIG1hcmdpbi1ib3R0b206IDIwcHg7IH1cblxuLm1iLW1pZGRsZSB7XG4gIG1hcmdpbi1ib3R0b206IDMwcHg7IH1cblxuLm1iLWxhcmdlIHtcbiAgbWFyZ2luLWJvdHRvbTogNDBweDsgfVxuXG4ubWIteC1sYXJnZSB7XG4gIG1hcmdpbi1ib3R0b206IDUwcHg7IH1cblxuLm1iLXh4LWxhcmdlIHtcbiAgbWFyZ2luLWJvdHRvbTogMTAwcHg7IH1cblxuLnNtYWxsLXgtdGV4dCB7XG4gIGZvbnQtc2l6ZTogMTBweDsgfVxuXG4uc21hbGwtdGV4dCB7XG4gIGZvbnQtc2l6ZTogMTJweDsgfVxuXG4ubGFyZ2UtdGV4dCB7XG4gIGZvbnQtc2l6ZTogMThweDsgfVxuXG4ubGFyZ2UteC10ZXh0IHtcbiAgZm9udC1zaXplOiAyNHB4OyB9XG5cbi5sYXJnZS14eC10ZXh0IHtcbiAgZm9udC1zaXplOiA1MHB4OyB9XG5cbi5jZW50ZXIge1xuICBtYXJnaW4tbGVmdDogYXV0bztcbiAgbWFyZ2luLXJpZ2h0OiBhdXRvOyB9XG5cbi50ZXh0LXJpZ2h0IHtcbiAgdGV4dC1hbGlnbjogcmlnaHQ7IH1cblxuLnRleHQtY2VudGVyIHtcbiAgdGV4dC1hbGlnbjogY2VudGVyOyB9XG5cbi5jb250cm9sLWxhYmVsIHtcbiAgZGlzcGxheTogYmxvY2s7IH1cblxuLmZvcm0tY29udHJvbCB7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICB3aWR0aDogMTAwJTtcbiAgY29sb3I6ICNGRkY7IH1cblxuLnRleHQtcmVkIHtcbiAgY29sb3I6IHJlZDsgfVxuXG4udGV4dC1saWdodC1ncmF5IHtcbiAgY29sb3I6ICM2RDZENkQ7IH1cblxuLnZhbGlkYXRpb24ge1xuICBtYXJnaW4tdG9wOiAxMHB4O1xuICBwYWRkaW5nOiA1cHg7XG4gIGJhY2tncm91bmQtY29sb3I6ICM1YTAwMDA7IH1cblxuLmJ1dHRvbiB7XG4gIGJvcmRlci1yYWRpdXM6IDA7XG4gIHBhZGRpbmc6IDIwcHggMDsgfVxuXG4uYnV0dG9uLWJsb2NrIHtcbiAgZGlzcGxheTogYmxvY2s7XG4gIHdpZHRoOiAxMDAlO1xuICBtYXgtd2lkdGg6IDM3NXB4OyB9XG5cbi5idXR0b24tYm90dG9tIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICBsZWZ0OiAwO1xuICBib3R0b206IDA7IH1cblxuLmJ1dHRvbi1wcmltYXJ5IHtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzAwNzRBOTtcbiAgY29sb3I6ICNGRkY7IH1cbiAgLmJ1dHRvbi1wcmltYXJ5OmhvdmVyIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjMDA3NEE5OyB9XG5cbi5idXR0b24taW5mbyB7XG4gIGJhY2tncm91bmQtY29sb3I6IHRyYW5zcGFyZW50O1xuICBjb2xvcjogI0ZGRjtcbiAgYm9yZGVyOiAxcHggc29saWQgI0ZGRjsgfVxuICAuYnV0dG9uLWluZm86aG92ZXIge1xuICAgIGJhY2tncm91bmQtY29sb3I6IHRyYW5zcGFyZW50OyB9XG5cbi5zbWFsbC1idXR0b24ge1xuICBwYWRkaW5nOiAxMHB4OyB9XG5cbi5lcnJvciB7XG4gIHBhZGRpbmc6IDE1cHg7XG4gIGJvcmRlcjogMXB4IHNvbGlkIHJlZDtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2ZmZWZlZjsgfVxuXG4uaWNvbiB7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgd2lkdGg6IDE1cHg7XG4gIGhlaWdodDogMTVweDtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgYmFja2dyb3VuZC1wb3NpdGlvbjogY2VudGVyO1xuICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlOyB9XG5cbi5sZWZ0LWljb24ge1xuICBtYXJnaW4tcmlnaHQ6IDEwcHg7IH1cblxuLnByZXYtYmxhY2sge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoL2ltYWdlcy9wcmV2X2JsYWNrLnN2Zyk7IH1cblxuLnNpZ251cCBpbnB1dFt0eXBlPXJhZGlvXSB7XG4gIGRpc3BsYXk6IG5vbmU7IH1cblxuLnNpZ251cCBzZWxlY3Qge1xuICB3aWR0aDogYXV0bzsgfVxuIl19 */