<div class="contents position-center">
    <h1 class="logo mb-large"><img src="/assets/images/logo_text.svg"></h1>
    <p class="mb-x-large text-center">
        メールアドレスとパスワードを入力して<br>ログインボタンを押してください
    </p>
    <div *ngIf="errorMessage !== null" class="alert alert-danger mb-large">
        {{ errorMessage }}
    </div>
    <form class="mb-large" method="POST" action="#" role="form">
        <div *ngIf="!mfaStep">
            <div class="mb-large">
                <input placeholder="メールアドレス" required type="email" maxlength="100" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="mb-large">
                <input placeholder="パスワード" required type="password" maxlength="25" length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="button blue-button">
                <button (click)="onLogin()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
                    ログイン
                </button>
            </div>
        </div>
    </form>
    <div class="mb-small text-center"><a routerLink="/home/register">戻る</a></div>
    <div class="text-center"><a routerLink="/home/forgotPassword">パスワード忘れた方はこちら</a></div>
</div>